@charset "utf-8";

/* products --------------------------- */


.product-ul{ 
    flex-wrap: wrap;
}
.product-ul li{
    border: 1px solid #DCDCDC;
    width: 23.5%;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 15px;
    padding-bottom: 15px;
}
.product-ul img{ 
    border-radius: 15px 15px 0 0;
}
.product-ul li:nth-child(1), .product-ul li:nth-child(5), .product-ul li:nth-child(9) , .product-ul li:nth-child(13) , .product-ul li:nth-child(17), .product-ul li:nth-child(21)  {
    margin-left: 0;
}
.product-ul li:nth-child(n + 5){
    margin-top: 2.5rem;
}

.products > h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}

.products > p{
    font-size: 1.3rem;
    text-align: center; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product-info{
    justify-content: space-between; 
    padding: 0 5px;
}
 