@charset "utf-8";

.stores h2{
    font-size: 48px;
    margin-left: 24px;
    margin-top: 80px;
    border-left: 7px solid #AA0601;
}
/* select -------------------------- */
.select{
    margin-left: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
    align-items: center;
}
.select p{
    font-size: 24px;
}
select{
    border: 1px solid #DCDCDC;
    width: 20%;
    padding: 7px 2px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 8px;
}


/* stores -------------------------- */ 

.stores-ul{
    flex-wrap: wrap;
    /* border: 1px solid #DCDCDC; */
    margin-bottom: 80px;
}
.stores-ul li{
    display: flex;
    flex-direction: column;
    width: 31%;
    margin-left: 24px;  
    margin-bottom: 48px;
}
 
.stores-ul li img{ 
    border-radius: 5px;
}
.store-info{
    padding: 16px 10px;
}

.stores-ul p { 
    font-size: 24px;
    margin-bottom: 20px;
}
.stores-ul span, .stores-ul i {
    font-size: 20px;
    margin-top: 10px;
}
.stores-ul span{
    margin-left: 10px;
}

.stores-ul button{
    margin-top: 16px;
    border: none;
    text-align: center;
    padding: 16px 0;
    color: white;
    background-color: black;
    border-radius: 7px;
    font-size: 19px;
}
.stores-ul button a{  
    color: white; 
    font-size: 19px;
    text-decoration: none;
}
